nav Link{
  text-decoration: none;
}

.App {
  text-align: center;
  color: black;
  background-image: url('https://www.jacksonandperkins.com/images/xxl/27677.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-origin: content-box;
  min-height: 100vh;
}

header{
  display: flex;
  justify-content: space-around;
  background: white;
  color: black;
}

.title{
  color: green;
}

a:visited {
  color: black;
}

nav{
  display: inline;
}

.plantForm{
  border: 1px solid black;
  width: 600px;
  height: 80px;
  margin: 0 auto;
  padding: 20px;
  background: white;
}

input {
  height: 30px;
  width: 100px;
}

.waterCheck {
  margin: 0 auto;
  border: 0;
  padding: 0;
}