.plants {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.plantcards {
    margin: 5px auto;
    border: 1px solid black;
    border-radius: 50px;
    background: white;
}
.plantimg {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50px;
}